<!DOCTYPE html>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            <div class="col-md-4">
        <div class="content-section">
            <h3>Our side bar</h3>
            <p class="text-muted">Put your info here
                <ul>
                    <li>Latest posts</li>
                    <li>Announcements</li>
                    <li>Calendars</li>
                    <li>etc</li>
                </ul>
            </p>
         </div>
    </div>

            {% endblock %}
        </div>

    </div>
</main>